:root {
    --primary: #ff6a00;
    --text-dark: #222;
    --text-light: #555;
    --bg: #fafafa;
    --card-bg: #ffffff;
    --border: #e6e6e6;
  }

  body { 
    font-family: "Inter", Arial, sans-serif;
    line-height: 1.7;
  }

  .doc-container { 
    max-width: 900px;
    margin: 60px auto;
    padding: 0 24px;
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-top: 10px;
  }
  h1{
    margin-top: 80px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--primary);
  }

  h2 {
    color: #393838;
    font-size: 1.9rem;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 1.4rem;
    margin-bottom: 6px;
  }

  p {
    line-height: 2;
    font-size: 1.05rem;
    color: var(--text-light);
    margin-bottom: 20px;
  }

  p span {
    color: var(--text-dark);
    font-weight: bold;
    line-height: 3;
  }

  .info-box {
    background: var(--card-bg);
    border: 1px solid var(--border);
    padding: 22px;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12),
      0 8px 20px rgba(0, 0, 0, 0.08),
      inset 0 1px 2px rgba(255, 255, 255, 0.4);
  }

  .info-box strong {
    color: var(--primary);
  }

  pre {
    background: #1e1e1e;
    color: #00ff40a7;
    padding: 18px;
    border-radius: 10px;
    overflow-x: auto;
    margin: 30px 0;
    box-shadow: 0 3px 6px rgba(41, 108, 7, 0.56),
      0 8px 20px rgba(119, 114, 114, 0.753),
      inset 0 1px 2px rgba(255, 255, 255, 0.4);
    font-size: 0.95rem;
  }

  ul {
    margin-top: -10px;
    padding-left: 20px;
  }

  ul li {
    margin-bottom: 12px;
    font-size: 1.05rem;
    color: var(--text-light);
  }

  hr {
    border: none;
    border-top: 1px solid var(--border);
    margin: 50px 0;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.6rem;
    }

    .doc-container {
      margin: 40px auto;
    }
  }