.category-bar { 
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 5px;
    margin: 5px auto 15px;  
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: #e878089b #f1f1f1;
    width: 90%;   
    max-width: 1200px; 
    
    
  }
  
  .category-bar::-webkit-scrollbar {
    display: none; 
  }
  
  /* Individual category button */
  .cat-item {
    text-decoration: none;
    font-family: monospace;
    flex: 0 0 auto;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 0.85rem;
    font-weight: 100;
    color: #444;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  }
  .cat-item:hover {
    background: #f271089d;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .cat-item.active {
    background-color: rgba(255, 206, 114, 0.75);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .cat-item {
      font-size: 0.65rem;
      padding: 5px 12px;
    }
  }

  @media screen and (max-width: 991px) {
    .category-bar {
        scrollbar-width: none;
      }
    }    
 @media screen and (max-width: 600px) {
        .category-bar {
            scrollbar-width: none;
          }
         }