body {
   text-align: center;   
}
.dashboard-card {
  display: inline-block;  
  margin-top: 10%;
  margin-bottom: 5%;
  max-width: 1000px;
  width: 100%;
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  text-align: center;
}

.dashboard-card h1 {
  margin-bottom: 10px;
  font-size: 28px;
 border-bottom: 1px solid #d6d6d6;
 padding: 12px;
  color: #f47a00e3;
}

.dashboard-card p {
  color: #666;
  font-size: 14px;
  margin-bottom: 30px;
}

.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.chart-box {
  background: #fafafa;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 400px;
  max-width: 480px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.chart-box h3 {
  margin-bottom: 16px;
  color: #ff4000cf;
}