.meet {
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem 1rem;
}

.container {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 50%;
  padding: 20px;
  margin: 0 auto;
}

.card {
  background: #fff;
  padding: 30px 20px;
  text-align: center;
  transition: all 0.4s ease;
  cursor: copy;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin: 30px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12),
    0 8px 20px rgba(0, 0, 0, 0.08),
    inset 0 1px 2px rgba(255, 255, 255, 0.4);

}

.card::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -40%;
  width: 180%;
  height: 180%;
  background: radial-gradient(circle at center, #a0a1a160, transparent 70%);
  transform: scale(0);
  transition: transform 0.6s ease;
  border-radius: 50%;
}

.card:hover::before {
  transform: scale(1);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 30px rgba(128, 128, 128, 0.601);
}

.card img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #eee;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.08);
}

.card h3 {
  font-size: 1.25rem;
  margin-bottom: 6px;
  color: #222;
  font-weight: 600;
}

.card p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

.socials {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials a {
  color: var(--theme-color);
  transform: scale(1.15);

  margin-right: 12px;
  color: #5e5e5ebe;
  transition: color 0.3s ease, transform 0.3s ease;

  color: #555;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.socials a:hover {
  transform: scale(1.15);
}

.socials a:hover:nth-child(1) {
  color: rgba(6, 192, 6, 0.814);
}

.socials a:hover:nth-child(2) {
  color: rgba(0, 0, 0, 0.814);
}

.socials a:hover:nth-child(3) {
  color: rgba(5, 175, 201, 0.814);
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    width: 450px;
    margin: auto;
    padding: 0 20px;
  }

  .meet {
    margin-top: 50px;
  }
}