
.input {    
 
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    /* height: 8%;  */
    height: auto;
    width: 100%;
    --icon-size: 28px;
    position: relative;
    opacity: 1;
   
  } 
  .input svg {
    position: relative;
    width: var(--icon-size);
     
    left: 2.5rem;
    translate: 5 -50%;
    overflow: visible;
    color: color-mix(in lch, canvas, canvasText 30%);
  }
  
  .input svg path {
    transform-box: fill-box;
    transform-origin: center;
  }
  
  .input:is(:hover, :focus-within) .svg path {
    animation: pop 0.5s var(--d);
  }
  
  .input svg path:nth-of-type(1) {
    --d: 0.24s;
    --r: 20deg;
    --s: 1.5;
  }
  
  .input svg path:nth-of-type(2) {
    --d: 0.12s;
    --r: 10deg;
    --s: 1.4;
  }
  
  .input svg path:nth-of-type(3) {
    --d: 0s;
    --r: 0deg;
    --s: 1.25;
  }
  
  @keyframes pop {
    50% {
      scale: var(--s, 1);
      rotate: var(--r, 0deg);
    }
  }
  
  .search::placeholder {
    color: color-mix(in lch, canvas, canvasText 30%);
  }
  
  .search {      
  
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.15),
      0 8px 10px -6px rgb(0 0 0 / 0.25);
   font-family:sans-serif;
      font-weight: 350;
    width: 700px;
    height: 60px;
    padding: 1rem 1rem 1rem calc(1rem + var(--icon-size) + 0.5rem);
    font-size: 0.8rem;
    field-sizing: content; 
    background: linear-gradient(canvas, canvas) padding-box,
      linear-gradient(120deg, hsl(278, 44%, 73%), hsl(35, 81%, 73%)) border-box;
    border: 4px solid transparent;
    border-radius: 12px;
    outline: none;  
  }
  
  /* Search guide container */
  .search-guide {
    text-align: center;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    margin-top: 8px;
    min-height: 24px;
    font-weight: 500;
    color: #444444c0; 
 
  }
  
  /* the span has no default animation; animations are triggered by classes */
  .search-guide span {
    display: inline-block;
    will-change: transform, opacity;
  }
  
  /* enter (slide in) */
  .search-guide span.enter {
    animation: slideIn 0.6s cubic-bezier(.2,.9,.2,1) forwards;
  }
  
  /* exit (slide out) */
  .search-guide span.exit {
    animation: slideOut 0.45s cubic-bezier(.2,.9,.2,1) forwards;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(100%) scale(.96);
      opacity: 0;
    }
    60% {
      transform: translateX(-6%) scale(1.03);
      opacity: 1;
    }
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%) scale(.96);
      opacity: 0;
    }
  }
 
  
  
  
@media screen and (max-width: 600px) {
     .search{ 
      height: 45px;
      margin-right:50px;  
     }
    .search-guide{
      font-size: 0.8rem;
    }
   }
  
 