.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  backdrop-filter: blur(12px);
  background: rgba(172, 172, 172, 0.293);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 20px rgba(117, 116, 116, 0.554);
  padding: 25px 20px;
  transform: translateX(0px);
  transition: 0.35s ease;
  z-index: 1000;
}

.sidebar.closed {
  transform: translateX(-260px);
}

.sidebar h2 {
  color: #444;
  font-family: cursive;
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 18px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  font-size: 17px;
  padding: 12px 14px;
  border-radius: 12px;
  color: #444;
  background: rgba(255, 255, 255, 0.4);
  transition: 0.25s ease;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.sidebar ul li a:hover {
  background: #ff7000;
  color: white;
  box-shadow: 0 0 18px rgba(255, 120, 0, 0.5);
  transform: translateX(5px);
}

.sidebar ul li a.active {
  background: #ff7000;
  color: white;
  box-shadow: 0 0 18px rgba(255, 120, 0, 0.4);
}


.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 12px 18px;
  background: #ff7000;
  border: none;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1100;
  transition: 0.3s;
}

.menu-btn:hover {
  background: #e55c00;
}

.content {
  margin-left: 280px;
  padding: 25px;
  transition: 0.35s ease;
}

.content.full {
  margin-left: 20px;
}

.icon {
  font-size: 20px;
}

.ad-panel { 
    
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
   box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  position: fixed;
  bottom: 0px;
  left: 40px; 
  width: 70%;  
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
   
}

 .ad-panel .ad-content img {
  width: 100%; 
  border-radius: 8px;
  object-fit:contain;
}

@media (max-width: 480px) {

  .content {
    margin-left: 20px;
  }

  .sidebar {
    width: 200px;
  }



  .sidebar ul li a {
    gap: 6px;
    font-size: 12px;
    padding: 6px 8px;
  }

  .menu-btn {
    top: 10px;
    left: 10px;
    padding: 6px 12px;
    font-size: 12px;
  }
}

 @media screen and (max-width: 992px) {
  .ad-panel { 
    width: 80%;  
    left: 20px;
  
  }
}