
<div class="category-bar">
  <a href class="cat-item" data-path="">Clothing</a>
  <a href="/product" class="cat-item" data-path="/product">Ladies Bags</a>
  <a href="/mencloth" class="cat-item" data-path="/mencloth">Mens Wear</a>
  <a href class="cat-item" data-path>Shoes</a>
  <a href class="cat-item" data-path>hsaoisa</a>
  <a href class="cat-item" data-path>Womens</a>
  <a href class="cat-item" data-path>kids</a>
  <a href class="cat-item" data-path>footwear</a>
  <a href class="cat-item" data-path>Electronics</a>
  <a href class="cat-item" data-path>Beauty</a>
  <a href class="cat-item" data-path>Home</a>
  <a href class="cat-item" data-path>Kitchen</a>
  <a href class="cat-item" data-path>Sports</a>
  <a href class="cat-item" data-path>Toys</a>
  <a href class="cat-item" data-path>Accessories</a>
</div>
<script>  
  
  const navLinks = document.querySelectorAll(".cat-item");

   navLinks.forEach(link => {
    link.addEventListener("click", function (e) {
       navLinks.forEach(l => l.classList.remove("active"));
       
      this.classList.add("active");
    });
  });
 
  const currentPath = window.location.pathname;
  navLinks.forEach(link => {
    if (link.getAttribute("data-path") === currentPath) {
      link.classList.add("active");
    }
  });


 

</script>