 <div class="fab-container left">
  <button class="fab-main" id="fabMain">☰</button>
  <div class="fab-options" id="fabOptions">
    <button class="fab-option" id="scrollTopBtn">↑</button>
    <button class="fab-option" onclick="openCart()">
      <i class="bx bx-home"></i>
    </button>
    <button class="fab-option" onclick="window.location.href='/contact'">
      <i class="bx bx-phone-outgoing bx-tada"></i>
    </button>
  </div>
</div>
