<div class="middle_change">

    <div class="slide" data-text="Find For You" data-sub="Best Deals Everyday">
        <img src="https://cdn.metro-online.com/-/media/Project/MCW/PK_Metro/2020-to-2021/Product-World-2021/04ApparelFootwear.jpg">
    </div>

    <div class="slide" data-text="All Mega Discounts here" data-sub="Grab Your Discounts Now">
        <img src="https://i.pinimg.com/736x/ba/c1/6e/bac16e9df93c7eeff7ad9268bbb4ad1c.jpg">
    </div>

    <div class="slide" data-text="Shop Smart" data-sub="Affordable Prices for Everyone">
        <img src="https://img.freepik.com/free-photo/close-up-collection-make-up-beauty-products_23-2148620012.jpg?w=740">
    </div>

    <div class="slide" data-text="New Arrivals" data-sub="Latest Trends & Styles">
        <img src="https://i.pinimg.com/736x/75/ab/99/75ab992710b82cd0315f508fba1f5cbc.jpg">
    </div>

    <div class="slide" data-text="Exclusive Offers" data-sub="Limited Time Deals">
        <img src="https://blog.thejacketmaker.com/wp-content/uploads/2021/07/Types-of-bags-feature-min.jpg">
    </div>

    <div class="slide" data-text="Clothing" data-sub="Find in your budget">
        <img src="https://bellerose.com/cdn/shop/files/232_BLR_2ndHAND_CREA_2431.jpg?v=1762179685&width=3200">
    </div>

    <div class="slide" data-text="Shopping" data-sub="Anything with exclusive deals">
        <img src="https://mir-s3-cdn-cf.behance.net/projects/404/198211197890935.Y3JvcCwxMzgwLDEwODAsMjcwLDA.jpeg">
    </div>
  
    <div class="middle_text">
        <h1 id="heroTitle"></h1>
        <p id="heroSub"></p>
    </div>

</div>

