 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    {{>headerlink}}
 </head>
 <body> 
    {{>header}}
     
  <h1 class="meet">Meet Our Team</h1>
  <div class="container">
    
    <div class="card">
      <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="person">
      <h3>John Doe</h3>
      <p>Web Developer</p>
      <div class="socials"> 
        <a href="//wa.me/03010305639"><i class="bx bxl-whatsapp"></i></a>

        <a href="https://github.com/Shoaibaslam-regs"
        ><i class="bx bxl-github"></i
      ></a>
        
        <a href="#"><i class="bx bxl-twitter"></i></a>
         </div>
    </div>

    <div class="card">
      <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="person">
      <h3>Sarah Khan</h3>
      <p>UI/UX Designer</p>
      <div class="socials">

        <a href="//wa.me/03010305639"><i class="bx bxl-whatsapp"></i></a> 

        <a href="https://github.com/Shoaibaslam-regs"
        ><i class="bx bxl-github"></i></a>
        
        <a href="#"><i class="bx bxl-twitter"></i></a>
      </div>
    </div>

    <div class="card">
      <img src="https://randomuser.me/api/portraits/men/47.jpg" alt="person">
      <h3>Michael Smith</h3>
      <p>Project Manager</p>
      <div class="socials">
        <a href="//wa.me/03010305639"><i class="bx bxl-whatsapp"></i></a>

        <a href="https://github.com/Shoaibaslam-regs"
        ><i class="bx bxl-github"></i></a>
        
        <a href="#"><i class="bx bxl-twitter"></i></a> 
      </div>
    </div>

    <div class="card">
      <img src="https://randomuser.me/api/portraits/women/65.jpg" alt="person">
      <h3>Aisha Ali</h3>
      <p>Content Writer</p>
      <div class="socials"> 
        <a href="//wa.me/03010305639"><i class="bx bxl-whatsapp"></i></a>

        <a href="https://github.com/Shoaibaslam-regs"
        ><i class="bx bxl-github"></i></a>
        
        <a href="#"><i class="bx bxl-twitter"></i></a>
      </div>
    </div>

  </div>
  {{>fab}}
 {{>footer}}
 </body>
 </html>