 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    {{>headerlink}}
  </head>
  <body>
    {{>header}}

    <h1 class="meet">Interact with us</h1>
    <div class="container">

      <div class="card">
        <img src="/images/shoaib.jpg"
          alt="/images/Doc-P-303-638240681369208725.png">
        <h3>Shoaib Aslam</h3>
        <p>Web Developer</p>
        <div class="socials">
          <a href="//wa.me/03010305639"><i class="bx bxl-whatsapp"></i></a>

          <a href="https://github.com/Shoaibaslam-regs"><i
              class="bx bxl-github"></i></a>

          <a href="#"><i class="bx bxl-twitter"></i></a>
        </div>
      </div>

      <div class="card">
        <img src alt="person">
        <h3>Umair Iqbal</h3>
        <p>UI/UX Designer</p>
        <div class="socials">

          <a href="//wa.me/03178945479"><i class="bx bxl-whatsapp"></i></a>

          <a href="https://github.com/Shoaibaslam-regs"><i
              class="bx bxl-github"></i></a>

          <a href="#"><i class="bx bxl-twitter"></i></a>
        </div>
      </div>

      <div class="card">
        <img src=" " alt="person">
        <h3>sadiq</h3>
        <p>Project Manager</p>
        <div class="socials">
          <a href="//wa.me/03010305639"><i class="bx bxl-whatsapp"></i></a>

          <a href="https://github.com/Shoaibaslam-regs"><i
              class="bx bxl-github"></i></a>

          <a href="#"><i class="bx bxl-twitter"></i></a>
        </div>
      </div>

      <div class="card">
        <img src alt="person">
        <h3>Ubaid</h3>
        <p>Content Writer</p>
        <div class="socials">
          <a href="//wa.me/03092074536"><i class="bx bxl-whatsapp"></i></a>

          <a href="https://github.com/Shoaibaslam-regs"><i
              class="bx bxl-github"></i></a>

          <a href="#"><i class="bx bxl-twitter"></i></a>
        </div>
      </div>

    </div>
    {{>fab}}
    {{>footer}}
  </body>

<script src="/js/mailacc.js"></script>
</html>