{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
  
<!-- Registration popup -->
<div id="authPopup" style="display:none;">
  <p>Please register or login to continue</p>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
</div>

<script src="/js/redirect.js"></script>
 
</body>
</html> --}}