<!DOCTYPE html>
<html lang="en">

  <head>

    <link rel="stylesheet" href="/css/index.css">
    {{>headerlink}}
    <title>Discount Emporium</title>
   </head>

  <body>  
    <div id="toast"></div>
    {{>fab}}
    {{>header}}  
    {{>homesearch}}
    {{>middle}}

    <p class="sub">Search deals with discounts — fast and filtered.<span>(search category)</span></p>
    <div class="no-results" id="noResults" style="display: none">
    </div>
    {{>category}}    
    <div class="containerid"> 
      <h1>
        <span>S</span> 
        <span>h</span>
        <span>o</span>
        <span>p</span>
        <span>s</span>
       </h1>

      <div class="product-greed" id="productOut"></div>
    </div>
    {{>footer}}
  <script src="/js/home.js"></script>
  <script src="/js/middle.js"></script>
   </body> 
  </html>
