 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Men Wear</title>
    <link rel="shortcut icon"
      href="https://as2.ftcdn.net/v2/jpg/13/36/70/89/1000_F_1336708968_FpG87ofyoozfEgWqxSHKcxUqdj1uA2pC.webp"
      type="image/x-icon">
    {{>headerlink}}
  </head>
  <body>
    {{>header}}
    {{>homesearch}}
    {{>optionalview}}
    {{>fab}} 
    <script src="/js/fab.js"></script>
    <div class="no-results" id="noResults" style="display: none">
      
    </div>
    {{>category}} 
    <div class="container">
    <div class="product-grid" id="productGrid"></div>

      <div class="product-grid" id="product_visible"></div>
    </div>

    {{>equities}}
    {{>footer}}
    <script>
         window.CATEGORY = "menappearl";
    </script>
  <script src="/js/product.js"></script>
  </body>
</html>
