 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite</title>
    {{>headerlink}}
  </head>
 <body>
  {{>header}} <br> <br> <br>
  {{>fab}} 

  {{>equities}}
  <div class="wrap"></div>
    <div id="productGrid"></div>
{{>footer}}
 </body>
 <script src="/js/save.js"></script> 
 </html>